In [1]:
print('hello world')

hello world

In [2]:
import pandas as pd

In [14]:
data = {
    'Français': ["Bonjour", "Merci", "Comment tu t'appelles ?", "Où sont les toilettes ?", "Que fais tu dans la vie ?"],
    'Anglais': [None, None, None, None, None],
    'Espagnol': [None, None, None, None, None],
    'Italien': [None, None, None, None, None]
}

In [4]:
dataframe = pd.DataFrame(data)
dataframe

                    Français English
0                    Bonjour    None
1                      Merci    None
2    Comment tu t'appelles ?    None
3    Où sont les toilettes ?    None
4  Que fais tu dans la vie ?    None

In [5]:
import google.generativeai as genai
import os

def translator(prompt):
    genai.configure(api_key=os.environ["GEMINI_API_KEY"])
    prompt = f"traduis {prompt} en anglais, la réponse ne doit contenir que la traduction"

    model = genai.GenerativeModel("gemini-1.5-flash")
    response = model.generate_content(prompt)
    return response.text

c:\Users\kevin\AppData\Local\Programs\Python\Python313\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [6]:
translator("cours de dev IA")

'AI development course\n'

In [7]:
dataframe["Français"]

0                      Bonjour
1                        Merci
2      Comment tu t'appelles ?
3      Où sont les toilettes ?
4    Que fais tu dans la vie ?
Name: Français, dtype: object

In [8]:
dataframe["English"]= dataframe["Français"].apply(translator)

In [9]:
dataframe

                    Français                   English
0                    Bonjour                   Hello\n
1                      Merci               Thank you\n
2    Comment tu t'appelles ?       What's your name?\n
3    Où sont les toilettes ?  Where is the restroom?\n
4  Que fais tu dans la vie ?         What do you do?\n

In [13]:
dataframe.to_csv("all_translation.csv", index=False, sep=";")